html {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    padding: 0;
    margin: 0;

    height: 100%;
}

#navigation
{
    background: #130D26;
    color: white;

    float: left;

    width: 300px;
}

#info
{
    width: calc(100% - 300px);
    background: #362B59;
    color: white;

    float: right;

    min-height: 100%;
}

.clear {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

#author
{
    background: #080316;
    color: white;


    height: 50px;
    width: 100%;
}

#autho
{
    background: #110E1A;
    color: white;

}

#main
{
    background: #322559;
    color: white;

    margin: 0px;
    padding: 0px;

    min-height: calc(100% - 50px);
}